.profile {
    position: relative;
    background: #fff;
    box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin-top: 230px;
    padding: 30px;
    height: 610px;
    flex-shrink: 0;
}

.name {
    font-size: 28px;
    line-height: 38px;
    color: #32325D;
    margin-bottom: 5px;
}

.city {
    font-size: 16px;
    line-height: 19px;
    color: #32325D;
    font-weight: 300;
    margin-bottom: 30px;
}

.user-info {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.114286px;
    color: #525F7F;
    display: flex;
    margin-bottom: 5px;
}

.label {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #ADB5BD;
    width: 95px;
}

.line {
    background: #E9ECEF;
    margin-top: 93px;
    height: 1px;
    width: 100%;
}

.profile-bottom-text {
    margin-top: 60px;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #525F7F;
    padding-left: 67px;
    padding-right: 67px;
}

.profile-show-more {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #4A90E2;
    margin-top: 20px;
}