.app {
  height: 100%;
  max-width: 1014px;
  margin: auto;
  font-size: 14px;
  font-weight: normal;
}

.content {
  position: relative;
}

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
}

button {
  border: none;
  letter-spacing: 0.08px;
  padding: 12px 21px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(50, 50, 93, 0.11);
}
.background-image img {
  width: 100%;
}

.login-button {
  margin-left: auto;
}

.btn-login {
  background: #fff;
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
  line-height: 19px;
  letter-spacing: 0.4px;
  color: #5E72E4;
}

.btn-info {
  background: #5E72E4;
  color: #FFF;
  line-height: 16px;
}


.btn-success {
  background: #2DCE89;
  border-radius: 3px;
  color: #FFF;
}

.btn-danger {
  background: #FB6340;
  border-radius: 3px;
  color: #FFF;
}
